/* Import Google fonts - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/assets/images/pexels-skitterphoto-695571.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.game-area {
    width: 430px;
    background: #fff;
    border-radius: 5px;
}
.game-area h1{
    font-size: 25px;
    font-weight: 600;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}
.game-area .game-content{
    margin: 25px 25px 35px;

}
.game-content .game-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}