/* Import Google fonts - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/pexels-gradienta-7130472.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-area {
    width: 430px;
    background: #fdfdfd;
    border-radius: 5px;
}

.game-area h1 {
    font-size: 25px;
    font-weight: 600;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}

.game-area .game-content {
    margin: 25px 25px 35px;

}
.game-content .typing {
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.game-content .game-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-inputs input {
    width: 40px;
    height: 40px;
    margin: 4px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    background: none;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid #ccc;
    ;
}

.game-inputs input:first-child {
    margin-left: 0px;
}

.game-details {
    margin: 15px 20px;
}

.game-details p {
    font-size: 19px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffffff;
    padding: 15px 0;
    margin: 15px 0;
    border: none;
    outline: none;
    background: #4d1cc0;
    border-radius: 5px;
}